/* ROBOTO MONO INSTANTIATION */
@font-face {
    font-family: 'Roboto Mono';
    src: url('../src/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

/* BRICOLAGE GROTESQUE INSTANTIATION */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../src/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf')
}

/* VARIABLE ICONS */
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* UNIVERSAL FONT */
* {

    font-family: 'Bricolage Grotesque', Helvetica, sans-serif;
    color: var(--txt);
    user-select: none;
}

/* BACKGROUND */
html {
    background-color: var(--bg);
    overflow: hidden;
}