/* ROBOTO MONO INSTANTIATION */
@font-face {
    font-family: 'Roboto Mono';
    src: url('../src/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

/* BRICOLAGE GROTESQUE INSTANTIATION */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('../src/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf')
}

/* VARIABLE ICONS */
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* UNIVERSAL FONT */
* {

    font-family: 'Bricolage Grotesque', Helvetica, sans-serif;
    color: var(--txt);
    user-select: none;
}

/* BACKGROUND */
html {
    background-color: var(--bg);
    overflow: hidden;
}

/* FONT SIZES / STYLES */
.t {
    font-size: 2rem;
    font-weight: 600;
}

.t2 {
    font-size: 1.75rem;
    font-weight: 400;
}

.h {
    font-size: 1.3rem;
    font-weight: 600;
}

.sh {
    font-size: 1.1rem;
    font-weight: 500;
}

.b {
    font-size: .8rem;
    font-weight: 400;
}

.c {
    font-size: .6rem;
    font-weight: 400;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: .6rem;
    overflow: hidden;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--b);
    border-top-right-radius: .6rem;
    border-bottom-right-radius: .6rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--s);
}

::-webkit-scrollbar-thumb::after {
    background: var(--p);
}

::selection {
    background-color: var(--p);
    color: var(--bg);
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: var(--b);
    border: 1px var(--s) solid;
}

#content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    max-width: 80rem;
    top: 0;
    padding: 0;
    left: 50vw;
    transform: translate(-50%, 0);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
}

#title {
    display: flex;
    flex-direction: row;
    width: max-content;
    height: fit-content;
    font-size: 2rem;
    margin: .75rem;
    margin-right: 2rem;
    cursor: pointer;
    white-space: nowrap;
}

#vTitle {
    padding: .3rem .4rem;
    margin-right: .5rem;
    background: var(--pb);
    border-radius: .6rem;
    border: 1px var(--p) solid;
    font-weight: 600;
}

#pTitle {
    margin: auto;
    font-weight: 600;
}

#headerbtns {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto 1fr auto;
    grid-auto-flow: column;
    width: 100%;
    gap: 1rem;
}

.headerbtn {
    margin: auto;
    padding: .75rem;
    color: var(--s);
    transition: .25s ease color;
    font-size: 1.5rem;
    cursor: pointer;
}

.headerbtn:hover {
    color: var(--txt);
}

#setTitle {
    display: flex;
    flex-direction: row;
    font-size: 1rem;

}

#titleField {
    margin: auto;
    color: var(--s) !important;
}

#titleField.field {
    color: var(--txt);
}

#renamebtn {
    font-size: 1.3rem !important;
}

#renamebtn:hover {
    color: var(--txt);
}

#accountbtn {
    padding: .75rem .75rem;
    margin-right: .5rem;
    font-size: 1.5rem;
}

.spacer {
    box-sizing: border-box;
    width: 1fr;
}

/* MAIN VIEW */

#mainWrap {
    width: auto;
    height: 100%;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    grid-template-rows: 3fr auto;
}

#noteWrap {
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 4fr 1fr;
    gap: 1rem;
}

.island {
    background: var(--b);
    border-radius: .6rem;
    border: 1px var(--s) solid;
}

/* NOTES ISLAND */

.notes {
    margin: 0;
    padding: 0;
    width: 100%;
}

#notes {
    background-color: var(--t);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
}

#sidebar.notes {
    left: 0;
    top: 0;
    width: 13rem;
    height: 100%;
    background: var(--b);
    border-radius: .6rem;
    border-right: 1px solid var(--s);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto 1fr auto;
}

#sectiont.notes {
    padding: .6rem 1rem;
    font-size: 1.5rem;
}

#noteList.notes {
    display: grid;
    grid-auto-flow: row;
    gap: .2rem;
    overflow-x: hidden;
    height: max-content;
}

#actionsWrap.notes {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    gap: 1rem;
}

.notesbtn {
    font-size: 1.5rem;
    color: var(--s);
    margin: auto;
    width: fit-content;
    transition: .25s ease color;
    cursor: pointer;
}

.notesbtn:hover {
    color: var(--txt)
}

.noteListItem {
    font-size: 1rem;
    padding: .25rem .75rem;
    margin: 0rem .25rem;
    color: var(--p);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    transition: all .25s ease;
    border-radius: .4rem;
    cursor: pointer;
    transition: all .25s ease;
    border: 1px solid rgba(0, 0, 0, 0);
}

.noteListItem.active {
    color: var(--txt) !important;

    border: 1px var(--p) solid;
}

.noteListItem:hover {
    background-color: var(--s);
}

.noteListItemTitle {
    margin: auto 0;
    padding-left: .2rem;
}

.noteListItemIcon {
    font-size: 1.4rem;
    color: var(--p);
    padding: .2rem;
}

.noteDragHandle {
    font-size: 1.4rem;
    color: var(--txta);
    padding: .2rem;
    width: fit-content;
}

/* STYLES ISLAND */

#styles {
    display: flex;
    flex-direction: column;
    padding: .3rem 0;
}

.stylesT {
    padding: 0.2rem 1rem;
    color: var(--txta);
    font-size: .95rem;
    font-weight: 500;
}

.styles {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.styleObj {
    padding: .6rem 1rem;
    margin: 0 .5rem;
    border-radius: .4rem;
    background: var(--t);
    transition: all .25s ease;
    cursor: pointer;
}

.styleObj:hover {
    background: var(--s);
}

.listHl {
    margin: auto;
    height: .8rem;
    width: 100%;
    background: var(--b);
    border-radius: .2rem;
}

.flex {
    padding: .2rem;
    display: flex;
    gap: .8rem;
    font-family: 'Roboto Mono' !important;
}

.checkbox {
    width: .8rem;
    height: .75rem;
    border-radius: .15rem;
    border: 1.5px solid var(--txta);
    transition: all .25s ease;
    margin: .2rem;
}

.checkbox:hover {
    background-color: var(--txt);
}

#flashcardList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
}

#analytics {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 0 0 1rem 1rem;
}

#cardMastery {
    padding: .2rem;
    width: 8rem;
    height: 8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#cardMasteryT {
    margin: auto;
}

.meter {
    width: max-content;
    height: max-content;
    position: absolute !important;
}

.meterBg {
    background: conic-gradient(var(--p) 270deg, var(--t) 0deg, var(--t) 300deg, rgba(0, 0, 0, 0) 0deg);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    transform: rotate(-150deg);
}

.meterPlug {
    z-index: 2;
    background: var(--b);
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    margin: auto;
}

.meterTitle {
    z-index: 3;
    font-size: 2rem;
    font-weight: 500;
}

.meterSubtitle {
    font-size: .8rem;
    color: var(--p);
    margin: 0;
    transform: translate(0, -50%);
}

#cardMasteryNum {
    margin: 0;
}

#learningWheel {
    background: conic-gradient(var(--s) 270deg, var(--t) 0deg, var(--t) 300deg, rgba(0, 0, 0, 0) 0deg);
}

#masteryWheel {
    background: conic-gradient(var(--p) 18deg, rgba(0, 0, 0, 0) 0deg);
    z-index: 1;
}

#masteryDetail {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
}

.masteryDetail {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    padding: .4rem .5rem;
    width: 7.5rem;
    background-color: var(--t);
    border-radius: .4rem;
    font-size: 1.1rem;
    border: 1px var(--s) solid;
}

/*
#masteredDetail {
    border: 1px var(--p) solid;
}

#learnedDetail {
    border: 1px var(--s) solid;
}*/

#flashcardWrap {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

#flashcardTests {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: .8rem;
}

.tests {
    padding: .4rem .5rem;
    font-size: 1.1rem;
    background: var(--t);
    cursor: pointer;
    border-radius: .4rem;
    width: 7.5rem;
    transition: all .25s ease;
    border: 1px var(--s) solid;
}

.tests:hover {
    background-color: var(--s);
}

#flashcardPreview {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    grid-template-columns: auto 1fr auto;
    gap: 1rem;
}

#previewMove {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 1rem;
}

#flashcard {
    height: 88%;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: .4rem;
    background-color: var(--t);
    border: 1px var(--s) solid;
    cursor: alias;
    margin: auto 0;
    min-width: 8rem;
}

.previewbtn {
    padding: .4rem .4rem;
    border-radius: 50%;
    background: var(--t);
    border: 1px solid var(--s);
    cursor: pointer;
    transition: all .25s ease;
    color: var(--s);
}

.previewbtn:hover {
    color: var(--txt);
}

#finalScore {
    width: 8rem;
    height: 8rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#nonRangeData {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 8rem;
}

.score {
    font-size: 1.5rem;
    font-weight: 500;
    padding: .4rem .5rem;
    background: var(--t);
    border-radius: .4rem;
    border: 1px var(--s) solid;
}

.scoreSubT {
    color: var(--p);
    transform: translate(0, -30%);
    font-size: .8rem;
}

#analyticsWrap {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#analyticsT {
    padding: .6rem 1rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
}

footer {
    position: relative;
    width: 100%;
    left: 0;
    display: grid;
    grid-auto-flow: column;
    padding: 1.5rem 0;
    padding-bottom: 1rem;
    justify-content: center;
    grid-template-columns: auto 1fr auto;
}

#footbtns {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.footbtn {
    font-size: .8rem;
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: .2rem;
    cursor: pointer;
}

.footbtn>* {
    color: var(--s);
    transition: all .25s ease;
}

.footbtn:hover>* {
    color: var(--txt);
}

.footicon {
    font-size: 1rem;
}

#editorContainer {
    grid-column: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 70vh;
    min-height: 100%;
}

#noteEditor {
    overflow: auto;
    outline: none;
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
}

span.monospace {
    font-family: 'Roboto Mono';
}

span.head1 {
    font-weight: 600;
    font-size: 2rem;
}

span.head2 {
    font-weight: 600;
    font-size: 2rem;
}

#suggestions {
    display: none;
    border: 1px solid var(--s);
    border-radius: .6rem;
    max-height: 8rem;
    overflow-y: auto;
    width: 100%;
    background-color: var(--b);
    opacity: .9;
    box-sizing: border-box;
    flex-direction: column;
}

.suggestion {
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr auto;
    transition: all .25s ease;
    padding: .8rem;
}

.suggestion:hover {
    background: var(--txt);
}

.suggestion:hover > * {
    color: var(--b);
}

.suggestion > * {
    font-size: 1rem !important;
}

.suggestionKey {
    font-family: 'Roboto Mono';
    font-weight: 500;
}

.suggestionDesc {
    color: var(--txta);
}

#noteT {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem;
    outline: none;
    overflow: hidden;
    box-sizing: border-box;
}

#deleteNotePrompt {
    transition: all .25s ease;
    visibility: hidden;
    opacity: 0;
    display: flex;
    position: absolute;
    padding: 1rem;
    border-radius: .6rem;
    width: max-content;
    height: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--b);
    border: 1px var(--s) solid;
    flex-direction: column;
    gap: .8rem;
}

#deleteAnswerWrap {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.promptAnswer {
    padding: .3rem .4rem;
    border-radius: .3rem;
    border: 1px solid var(--s);
    cursor: pointer;
    font-weight: 500;
    transition: all .25s ease;
}

#dyPrompt:hover {
    border-color: var(--y);
}

#dnPrompt:hover {
    border-color: var(--n);
}