/* ROBOTO MONO INSTANTIATION */
@font-face {
    font-family: 'Roboto Mono';
    src: url('../src/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf');
}

/* UNIVERSAL FONT */
* {

    font-family: 'Roboto Mono', Helvetica, sans-serif;
    color: var(--txt);
}

/* BACKGROUND */
html {
    background-color: var(--bg);
}

/* FONT SIZES / STYLES */
.t {
    font-size: 2rem;
    font-weight: 600;
}

.t2 {
    font-size: 1.75rem;
    font-weight: 400;
}

.h {
    font-size: 1.3rem;
    font-weight: 600;
}

.sh {
    font-size: 1.1rem;
    font-weight: 500;
}

.b {
    font-size: .8rem;
    font-weight: 400;
}

.c {
    font-size: .6rem;
    font-weight: 400;
}

/* STYLES */
:root {
    --bg: rgb(33 38 44);
    --txt: rgb(173 186 199);
    --p: rgb(233 117 91);
    --s: rgb(44 52 59);
}

#content {
    position: absolute;
    height: 100vh;
    width: fit-content;
    top: 0;
    padding: 0;
    left: 50vw;
    transform: translate(-50%, 0)
}