:root {
    --bg: rgb(24 24 26);
    --txt: rgb(255 255 255);
    --p: rgb(228 96 155);
    --pb: rgb(228 96 155);
    --s: rgb(70 186 192);
    --t: rgb(29 29 29);
    --txta: rgb(113 109 107);
    --b: rgb(22 22 22);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}