:root {
    --bg: rgb(32 32 32);
    --txt: rgb(201 201 201);
    --p: rgb(0 116 204);
    --pb: rgb(33 56 93);
    --s: rgb(64 64 64);
    --t: rgb(32 32 32);
    --txta: rgb(110 118 129);
    --b: rgb(24 24 24);
}