:root {
    --bg: rgb(198 178 148);
    --txt: rgb(9 25 19);
    --p: rgb(64 90 82);
    --pb: rgb(85 120 109);
    --s: rgb(162 128 115);
    --t: rgb(179 163 137);
    --txta: rgb(17 42 33);
    --b: rgb(179 163 137);
}