:root {
    --bg: rgb(16 0 0);
    --txt: rgb(255 255 255);
    --p: rgb(179 18 18);
    --pb: rgb(137 17 17);
    --s: rgb(104 52 52);
    --t: rgb(42 14 15);
    --txta: rgb(192 192 192);
    --b: rgb(31 10 11);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}