:root {
    --bg: rgb(64 73 67);
    --txt: rgb(165 150 130);
    --p: rgb(165 150 130);
    --pb: rgb(55 69 60);
    --s: rgb(26 33 29);
    --t: rgb(46 56 50);
    --txta: rgb(195 185 171);
    --b: rgb(55 69 60);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}