:root {
    --bg: rgb(49 49 49);
    --txt: rgb(245 230 200);
    --p: rgb(246 110 14);
    --pb: rgb(246 110 14);
    --s: rgb(70 70 70);
    --t: rgb(48 48 48);
    --txta: rgb(120 120 120);
    --b: rgb(43 43 43);
}