:root {
    --bg: rgb(28, 27, 29);
    --txt: rgb(242 239 237);
    --p: rgb(222 175 157);
    --pb: rgb(79 62 61);
    --s: rgb(79 62 61);
    --t: rgb(35, 33, 33);
    --txta: rgb(113, 109, 107);
    --b: rgb(42, 39, 39);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}