:root {
    --bg: rgb(239 234 208);
    --txt: rgb(51 52 56);
    --p: rgb(96 96 95);
    --pb: rgb(167 162 151);
    --s: rgb(142 142 132);
    --t: rgb(192 187 171);
    --txta: rgb(192 192 192);
    --b: rgb(219 214 196);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}