:root {
    --bg: rgb(17 17 17);
    --txt: rgb(238 238 238);
    --p: rgb(238 238 238);
    --pb: rgb(129 129 129);
    --s: rgb(68 68 68);
    --t: rgb(33 33 33);
    --txta: rgb(192 192 192);
    --b: rgb(25 25 25);
}