:root {
    --bg: rgb(209 209 209);
    --txt: rgb(25 25 25);
    --p: rgb(17 17 17);
    --pb: rgb(192 192 192);
    --s: rgb(129 129 129);
    --t: rgb(173 173 173);
    --txta: rgb(192 192 192);
    --b: rgb(192 192 192);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}