:root {
    --bg: rgb(59 55 63);
    --txt: rgb(230 213 211);
    --p: rgb(252 110 131);
    --pb: rgb(176 76 90);
    --s: rgb(142 85 104);
    --t: rgb(57 51 63);
    --txta: rgb(192 192 192);
    --b: rgb(51 46 56);
    --y: rgb(53 179 100);
    --n: rgb(213 81 81);
}